$sidebar_width: 280px;
$sidebar_bg_color: white;

$detail_width: 768px;
$detail_bg_color: #E7E7E7;

$panel_width: $sidebar_width + $detail_width;
$panel_height: 650px;


$default_transition_duration: .25s;

$highlight_color: #50B7E3;
